body {
  background-color: lightgreen;
}

h1, h2, p, div, .list-item button {
  color: rgb(79, 69, 58);
}

h1 {
  display: flex;
  justify-content: center;
}

.status {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.wrapper {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.square {
  width: 10rem;
  height: 10rem;
  font-size: 20px;
  font-weight: 800;
}

.game {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.history {
  font-size: 20px;
}

ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

button {
  border: 2px solid lightgreen;
  background: bisque;
  border-radius: 6px;
}